@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "CustomFont";
    src: url("../src/assets/Poseidon-gxxY1.ttf");
}
.logo-text {
    color: red;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-weight: bold;
    width: 100%;
    font-size: 24px;
}
.custom-css-nav-text {
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
   .logo-text {
     width: 35%;
     font-size: 20px;
    }
    .custom-css-nav-text {
        font-size: 16px;
    }
  }
  @media only screen and (max-width: 400px) {
    .custom-css-about {
      height: 120vh;
     }
   }

   .custom-css-about {
    margin-top: 100vh;
   }

  .custom-css-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: #232a34;
    opacity: 0.3;
  }

  .logo-text-abt {
    font-family: 'CustomFont', Arial, sans-serif;
  }

